In [172]:
import pandas as pd
import json
import warnings
warnings.filterwarnings('ignore')
import ast

In [173]:
# Cargo los archivos csv
df_movies = pd.read_csv('../Datasets\movies_dataset.csv', encoding='utf-8')
df_credits = pd.read_csv('../Datasets\credits.csv', encoding='utf-8')

In [174]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [175]:
pd.set_option('display.max_columns', None)
df_movies.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [176]:
# Verifico duplicados
duplicados_ids = df_movies[df_movies.duplicated(subset=['id'], keep=False)]
#Chequeo duplicados
print('Duplicados encontrados en "id":')
print(duplicados_ids[['id', 'title', 'release_date']])

Duplicados encontrados en "id":
           id                                        title release_date
676    105045                                  The Promise   1995-02-16
838    132641                                         Wife   1953-04-29
949     22649                           A Farewell to Arms   1932-12-08
1465   105045                                  The Promise   1995-02-16
2564    84198                         A Place at the Table   2012-03-22
4114    10991                Pokémon: Spell of the Unknown   2000-07-08
4356   110428                         Camille Claudel 1915   2013-03-13
5130    15028                                Clockstoppers   2002-03-17
5535    12600  Pokémon 4Ever: Celebi - Voice of the Forest   2001-07-06
5710   109962                              Rich and Famous   1981-09-23
5865     4912              Confessions of a Dangerous Mind   2002-12-30
7345     5511                                  Le Samouraï   1967-10-25
8068    23305                                  The Warrior   2001-09-23
9165     5511                                  Le Samouraï   1967-10-25
9327    23305                                  The Warrior   2001-09-23
9576    69234                     The Phantom of the Opera   1990-03-18
10419   14788                                       Bubble   2005-09-03
11155   77221                                   Black Gold   2011-12-21
11342   13209                                      Offside   2006-05-26
12066   14788                                       Bubble   2005-09-03
13220  159849             Why We Fight: Divide and Conquer   1943-01-01
13261  141971                                     Blackout   2008-12-26
13375  141971                                     Blackout   2008-12-26
13603  168538               Nana, the True Key of Pleasure   1983-06-13
13946   97995                         Seven Years Bad Luck   1921-02-06
14000   18440                             Days of Darkness   2007-01-01
14012   11115                                         Deal   2008-01-29
15074   22649                           A Farewell to Arms   1932-12-08
15702   42495                                    King Lear   1971-02-04
15765   13209                                      Offside   2006-05-26
16167   99080                                   The Viking   1931-06-21
16764  141971                                     Blackout   2008-12-26
17229   25541                                  Brotherhood   2009-10-21
19890  119916                                  The Tempest   1980-02-27
19925  152795                                 The Congress   2013-05-16
20843   77221                                   Black Gold   2011-12-21
20899  109962                              Rich and Famous   1981-09-23
21116   84198                         A Place at the Table   2012-03-22
21165  119916                                  The Tempest   1980-02-27
21854  152795                                 The Congress   2013-05-16
22151   18440                             Days of Darkness   2007-01-01
23044   25541                                  Brotherhood   2009-10-21
23534  110428                         Camille Claudel 1915   2013-03-13
24164  265189                                Force Majeure   2014-08-15
24844   11115                                         Deal   2008-01-29
26625   69234                     The Phantom of the Opera   1990-03-18
28860  168538               Nana, the True Key of Pleasure   1983-06-13
29374   42495                                    King Lear   1971-02-04
30001  132641                                         Wife   1953-04-29
33184  298721                        Cemetery of Splendour   2015-09-02
33743   15028                                Clockstoppers   2002-03-17
33826    4912              Confessions of a Dangerous Mind   2002-12-30
35798  159849             Why We Fight: Divide and Conquer   1943-01-01
38871   99080                                   The Viking   1931-06-21
40040  298721                        Cemetery of Splendour   2015-09-02
40276   97995                         Seven Years Bad Luck   1921-02-06
44821   10991                Pokémon: Spell of the Unknown   2000-07-08
44826   12600  Pokémon 4Ever: Celebi - Voice of the Forest   2001-07-06
45265  265189                                Force Majeure   2014-08-15

In [177]:
#Elimino registros duplicados basados en el 'id'
df_movies = df_movies.drop_duplicates(subset='id', keep='first')

In [178]:
duplicados = df_movies.duplicated(subset=['id']).sum()
print(f'Numero de duplicados en "id": {duplicados}')

Numero de duplicados en "id": 0

In [179]:
df_credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [180]:
df_credits.head(5)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [181]:
duplicados = df_credits.duplicated(subset=['id']).sum()
print(f'Numero de duplicados en "id": {duplicados}')

Numero de duplicados en "id": 44

In [182]:
#Elimino duplicados en id
df_credits = df_credits.drop_duplicates(subset=['id'])

In [183]:
duplicados = df_credits.duplicated(subset=['id']).sum()
print(f'Numero de duplicados en "id": {duplicados}')

Numero de duplicados en "id": 0

In [184]:
df_credits.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45432 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45432 non-null  object
 1   crew    45432 non-null  object
 2   id      45432 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.4+ MB

In [185]:
print(df_movies.isna().sum())

adult                        0
belongs_to_collection    40945
budget                       0
genres                       0
homepage                 37659
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25035
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [186]:
# Manejo los valores nulos (NaN) devolviendo un diccionario vacio para evitar errores
df_movies['belongs_to_collection'] = df_movies['belongs_to_collection'].apply(
    lambda x: ast.literal_eval(x) if pd.notnull(x) else {}
)

In [187]:
# Uso json_normalize para desanidar 'belongs_to_collection'
df_collection = pd.json_normalize(df_movies['belongs_to_collection'])

In [188]:
# Me Quedo solo con la columna 'name'
df_collection = df_collection[['name']]

In [189]:
# Renombrar la columna a 'collection_name'
df_collection.columns = ['collection_name']

In [190]:
# Eliminar la columna original 'belongs_to_collection' y unir la nueva columna al dataframe original
df_movies = df_movies.drop(columns=['belongs_to_collection']).join(df_collection)

In [191]:
# Verificar el resultado
print(df_movies[['collection_name']].head())

                  collection_name
0            Toy Story Collection
1                             NaN
2       Grumpy Old Men Collection
3                             NaN
4  Father of the Bride Collection

In [192]:
df_movies.head(5)

,adult,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,collection_name
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection
3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NaN
4,False,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection

In [193]:
#Convierto el string contenido en 'genres' a list
df_movies['genres'] = df_movies['genres'].apply(ast.literal_eval)

In [194]:
#Transformo la columna 'genres' que va a alamcenar una lista de generos
df_movies['genres'] = df_movies['genres'].apply(lambda x: [i['name'] for i in x])

In [195]:
df_movies.head(5)

,adult,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,collection_name
0,False,30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection
1,False,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN
2,False,0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection
3,False,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NaN
4,False,0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection

In [196]:
df_movies = df_movies.dropna(subset=['production_companies'])

In [197]:
#Convierto el string contenido en 'production_companies' a list
df_movies['production_companies'] = df_movies['production_companies'].apply(ast.literal_eval)

In [198]:
print(df_movies['production_companies'].apply(type).value_counts())

production_companies
<class 'list'>    45430
<class 'bool'>        3
Name: count, dtype: int64

In [199]:
print(df_movies['production_companies'].head(10))

0       [{'name': 'Pixar Animation Studios', 'id': 3}]
1    [{'name': 'TriStar Pictures', 'id': 559}, {'na...
2    [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
3    [{'name': 'Twentieth Century Fox Film Corporat...
4    [{'name': 'Sandollar Productions', 'id': 5842}...
5    [{'name': 'Regency Enterprises', 'id': 508}, {...
6    [{'name': 'Paramount Pictures', 'id': 4}, {'na...
7          [{'name': 'Walt Disney Pictures', 'id': 2}]
8    [{'name': 'Universal Pictures', 'id': 33}, {'n...
9    [{'name': 'United Artists', 'id': 60}, {'name'...
Name: production_companies, dtype: object

In [200]:
print(df_movies[df_movies['production_companies'].apply(lambda x: isinstance(x, bool))]['production_companies'].head())

19730    False
29503    False
35587    False
Name: production_companies, dtype: object

In [201]:
def extract_company_names(x):
    try:
        companies = ast.literal_eval(x) if isinstance(x, str) else x
        return [i['name'] for i in companies if isinstance(i, dict) and 'name' in i]
    except:
        return []

# Aplicar la función a la columna
df_movies['production_companies'] = df_movies['production_companies'].apply(extract_company_names)

# Verificar los resultados
print(df_movies['production_companies'].head(10))

0                            [Pixar Animation Studios]
1    [TriStar Pictures, Teitler Film, Interscope Co...
2                       [Warner Bros., Lancaster Gate]
3             [Twentieth Century Fox Film Corporation]
4         [Sandollar Productions, Touchstone Pictures]
5    [Regency Enterprises, Forward Pass, Warner Bros.]
6    [Paramount Pictures, Scott Rudin Productions, ...
7                               [Walt Disney Pictures]
8    [Universal Pictures, Imperial Entertainment, S...
9                    [United Artists, Eon Productions]
Name: production_companies, dtype: object

In [202]:
df_movies.head(5)

,adult,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,collection_name
0,False,30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,[Pixar Animation Studios],"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection
1,False,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[TriStar Pictures, Teitler Film, Interscope Co...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN
2,False,0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[Warner Bros., Lancaster Gate]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection
3,False,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[Twentieth Century Fox Film Corporation],"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NaN
4,False,0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[Sandollar Productions, Touchstone Pictures]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection

In [203]:
print(df_movies['production_companies'].apply(type).value_counts())

production_companies
<class 'list'>    45433
Name: count, dtype: int64

In [204]:
print(df_movies['production_countries'].apply(type).value_counts())

production_countries
<class 'str'>    45433
Name: count, dtype: int64

In [205]:
#Elimino las filas con valores NaN
df_movies = df_movies.dropna(subset=['production_countries'])

In [206]:
#Defino una funcion para manejar la conversion de manera segura
def convertidor(x):
    if isinstance(x, str):
        try:
            data = ast.literal_eval(x)  #Convierto el string a lista
            return [i['name'] for i in data if isinstance(i, dict) and 'name' in i] # Extraigo los nombres de los paises
        except:
            return []
    else:
        return []
    

#Aplico la funcion a la columna
df_movies['production_countries'] = df_movies['production_countries'].apply(convertidor)

#Chequeamos el resultado
print(df_movies['production_countries'].head(5))

0    [United States of America]
1    [United States of America]
2    [United States of America]
3    [United States of America]
4    [United States of America]
Name: production_countries, dtype: object

In [207]:
df_movies.head(5)

,adult,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,collection_name
0,False,30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection
1,False,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN
2,False,0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection
3,False,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NaN
4,False,0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection

In [208]:
print(df_movies['spoken_languages'].apply(type).value_counts())

spoken_languages
<class 'str'>      45430
<class 'float'>        3
Name: count, dtype: int64

In [209]:
#Elimino las filas con valores nulos
df_movies = df_movies.dropna(subset=['spoken_languages'])

In [210]:
#Defino una funcion para manejar la conversion de manera segura
def convertidor(x):
    if isinstance(x, str):
        try:
            data = ast.literal_eval(x)  #Convierto el string a lista
            return [i['name'] for i in data if isinstance(i, dict) and 'name' in i] # Extraigo los idiomas
        except:
            return []
    else:
        return []
    

#Aplico la funcion a la columna
df_movies['spoken_languages'] = df_movies['spoken_languages'].apply(convertidor)

#Chequeamos el resultado
print(df_movies['spoken_languages'].head(5))

0              [English]
1    [English, Français]
2              [English]
3              [English]
4              [English]
Name: spoken_languages, dtype: object

In [211]:
df_movies.head(10)

,adult,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,collection_name
0,False,30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection
1,False,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN
2,False,0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection
3,False,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,81452156.0,127.0,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NaN
4,False,0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,76578911.0,106.0,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection
5,False,60000000,"[Action, Crime, Drama, Thriller]",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.924927,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,"[Regency Enterprises, Forward Pass, Warner Bros.]",[United States of America],1995-12-15,187436818.0,170.0,"[English, Español]",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,NaN
6,False,58000000,"[Comedy, Romance]",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"[Paramount Pictures, Scott Rudin Productions, ...","[Germany, United States of America]",1995-12-15,0.0,127.0,"[Français, English]",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,NaN
7,False,0,"[Action, Adventure, Drama, Family]",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",2.561161,/sGO5Qa55p7wTu7FJcX4H4xIVKvS.jpg,[Walt Disney Pictures],[United States of America],1995-12-22,0.0,97.0,"[English, Deutsch]",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0,NaN
8,False,35000000,"[Action, Adventure, Thriller]",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,5.23158,/eoWvKD60lT95Ss1MYNgVExpo5iU.jpg,"[Universal Pictures, Imperial Entertainment, S...",[United States of America],1995-12-22,64350171.0,106.0,[English],Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0,NaN
9,False,58000000,"[Adventure, Action, Thriller]",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,14.686036,/5c0ovjT41KnYIHYuF4AWsTe3sKh.jpg,"[United Artists, Eon Productions]","[United Kingdom, United States of America]",1995-11-16,352194034.0,130.0,"[English, Pусский, Español]",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0,James Bond Collection

In [212]:
# Me aseguro de rellenar valores nulos en 'revenue' y 'budget'
df_movies['revenue'] = df_movies['revenue'].fillna(0)
df_movies['budget'] = df_movies['budget'].fillna(0)

In [213]:
#Elimino nulos y formateo fechas en 'release_date', ademas creo la columna 'release_year' con el año de lanzamiento
df_movies = df_movies.dropna(subset=['release_date'])
df_movies['release_date'] = pd.to_datetime(df_movies['release_date'])
df_movies['release_year'] = df_movies['release_date'].dt.year

In [214]:
df_movies.head(10)

,adult,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,collection_name,release_year
0,False,30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection,1995
1,False,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,1995
2,False,0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection,1995
3,False,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,81452156.0,127.0,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NaN,1995
4,False,0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,76578911.0,106.0,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection,1995
5,False,60000000,"[Action, Crime, Drama, Thriller]",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.924927,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,"[Regency Enterprises, Forward Pass, Warner Bros.]",[United States of America],1995-12-15,187436818.0,170.0,"[English, Español]",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,NaN,1995
6,False,58000000,"[Comedy, Romance]",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"[Paramount Pictures, Scott Rudin Productions, ...","[Germany, United States of America]",1995-12-15,0.0,127.0,"[Français, English]",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,NaN,1995
7,False,0,"[Action, Adventure, Drama, Family]",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",2.561161,/sGO5Qa55p7wTu7FJcX4H4xIVKvS.jpg,[Walt Disney Pictures],[United States of America],1995-12-22,0.0,97.0,"[English, Deutsch]",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0,NaN,1995
8,False,35000000,"[Action, Adventure, Thriller]",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,5.23158,/eoWvKD60lT95Ss1MYNgVExpo5iU.jpg,"[Universal Pictures, Imperial Entertainment, S...",[United States of America],1995-12-22,64350171.0,106.0,[English],Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0,NaN,1995
9,False,58000000,"[Adventure, Action, Thriller]",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,14.686036,/5c0ovjT41KnYIHYuF4AWsTe3sKh.jpg,"[United Artists, Eon Productions]","[United Kingdom, United States of America]",1995-11-16,352194034.0,130.0,"[English, Pусский, Español]",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0,James Bond Collection,1995

In [215]:
# Me aseguro que 'revenue' y 'budget' sean de tipo numerico
df_movies['revenue'] = pd.to_numeric(df_movies['revenue'], errors='coerce')
df_movies['budget'] = pd.to_numeric(df_movies['budget'], errors='coerce')

In [216]:
# Me aseguro de rellenar valores nulos en 'revenue' y 'budget' que pueden haberse creado despues de convertir strings
df_movies['revenue'] = df_movies['revenue'].fillna(0)
df_movies['budget'] = df_movies['budget'].fillna(0)

In [217]:
# Creo la columna con el retorno de inversion
df_movies['return'] = df_movies.apply(lambda row: row['revenue'] / row['budget'] if row['budget'] != 0 else 0, axis=1)

In [218]:
df_movies.head(5)

,adult,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,collection_name,release_year,return
0,False,30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection,1995,12.451801
1,False,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,1995,4.043035
2,False,0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection,1995,0.000000
3,False,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,81452156.0,127.0,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NaN,1995,5.090760
4,False,0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,76578911.0,106.0,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection,1995,0.000000

In [219]:
# Elimino columnas que no seran utilizadas
columnas = ['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage']
df_movies = df_movies.drop(columns=columnas)

In [220]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45346 entries, 0 to 45465
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                45346 non-null  int64
 1   genres                45346 non-null  object
 2   id                    45346 non-null  object
 3   original_language     45335 non-null  object
 4   overview              44405 non-null  object
 5   popularity            45346 non-null  object
 6   production_companies  45346 non-null  object
 7   production_countries  45346 non-null  object
 8   release_date          45346 non-null  datetime64[ns]
 9   revenue               45346 non-null  float64
 10  runtime               45100 non-null  float64
 11  spoken_languages      45346 non-null  object
 12  status                45266 non-null  object
 13  tagline               20387 non-null  object
 14  title                 45346 non-null  object
 15  vote_average          45346 non-null  float64
 16  vote_count            45346 non-null  float64
 17  collection_name       4481 non-null   object
 18  release_year          45346 non-null  int32
 19  return                45346 non-null  float64
dtypes: datetime64[ns](1), float64(5), int32(1), int64(1), object(12)
memory usage: 7.1+ MB

In [221]:
#Conviert[o popularity  float
df_movies['popularity'] = pd.to_numeric(df_movies['popularity'], errors='coerce')

In [222]:
#Relleno nulos y Convierto vote_count a int
df_movies['vote_count'] = df_movies['vote_count'].fillna(0).astype('int64')

In [223]:
# Verifico cambios y tipos de datos de columnas que voy a necesitar
print(df_movies[['title', 'release_date', 'popularity', 'vote_average', 'vote_count']].dtypes)

title                   object
release_date    datetime64[ns]
popularity             float64
vote_average           float64
vote_count               int64
dtype: object

In [224]:
df_movies['id'] = df_movies['id'].astype('int64')

Selecciono columnas que voy a usar de df_movies

In [225]:
columns_to_keep = ['id', 'title', 'release_date', 'vote_average', 'vote_count', 'budget', 'revenue', 'return', 'spoken_languages', 'release_year']
df_movies_final = df_movies[columns_to_keep]

Cambios en df_credits que me van a facilitar la creacion y uso de la API

In [226]:
df_credits.head(5)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [227]:
#Convierto 'cast' y 'crew' a list
df_credits['cast'] = df_credits['cast'].apply(ast.literal_eval)
df_credits['crew'] = df_credits['crew'].apply(ast.literal_eval)

Extraigo los nombres de los actores en una lista

In [228]:
def get_all_actors(cast_list):
    return [actor['name'] for actor in cast_list]

#Aplico la funcion y creo una columna nueva 'actors'
df_credits['actors'] = df_credits['cast'].apply(get_all_actors)

In [229]:
print(df_credits['actors'].iloc[0])

['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim Varney', 'Wallace Shawn', 'John Ratzenberger', 'Annie Potts', 'John Morris', 'Erik von Detten', 'Laurie Metcalf', 'R. Lee Ermey', 'Sarah Freeman', 'Penn Jillette']

Extraigo los nombres de los directores

In [230]:
def get_director(crew_list):
    for member in crew_list:
        if member['job'] == 'Director':
            return member['name']
    return None

#Aplico la funcion y creo una nueva columna 'director'
df_credits['director'] = df_credits['crew'].apply(get_director)

In [231]:
print(df_credits['director'].iloc[0:10])

0      John Lasseter
1       Joe Johnston
2      Howard Deutch
3    Forest Whitaker
4      Charles Shyer
5       Michael Mann
6     Sydney Pollack
7       Peter Hewitt
8        Peter Hyams
9    Martin Campbell
Name: director, dtype: object

In [232]:
df_credits = df_credits[['id', 'actors', 'director']]

In [233]:
df_credits.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45432 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        45432 non-null  int64
 1   actors    45432 non-null  object
 2   director  44545 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.4+ MB

In [234]:
print(df_credits.isna().sum())

id            0
actors        0
director    887
dtype: int64

In [235]:
# Elimino nulos de 'director'
df_credits = df_credits.dropna(subset=['director'])

In [236]:
df_movies_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45346 entries, 0 to 45465
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                45346 non-null  int64
 1   title             45346 non-null  object
 2   release_date      45346 non-null  datetime64[ns]
 3   vote_average      45346 non-null  float64
 4   vote_count        45346 non-null  int64
 5   budget            45346 non-null  int64
 6   revenue           45346 non-null  float64
 7   return            45346 non-null  float64
 8   spoken_languages  45346 non-null  object
 9   release_year      45346 non-null  int32
dtypes: datetime64[ns](1), float64(3), int32(1), int64(3), object(2)
memory usage: 3.6+ MB

In [237]:
#Tomo una muestra seleccionando 10000 peliculas aleatorias de df_movies_final
#Elijo el tamaño de la muestra
sample_size = 10000

df_movies_sample = df_movies_final.sample(n=sample_size, random_state=42)
#En el caso de credits, selecciono las filas que corresponden con las peliculas en el sample de df_movies
df_credits_sample = df_credits[df_credits['id'].isin(df_movies_sample['id'])]

In [239]:
print(f'Tamaño de la muestra de df_movies: {len(df_movies_sample)}')

Tamaño de la muestra de df_movies: 10000

In [240]:
# Hago el merge de los dataframes 
df_combined = pd.merge(df_movies_sample, df_credits_sample, on='id', how='inner')

In [241]:
df_combined.head(5)

,id,title,release_date,vote_average,vote_count,budget,revenue,return,spoken_languages,release_year,actors,director
0,42621,Winning,1969-05-22,5.3,8,0,0.0,0.0,"[English, Español]",1969,"[Paul Newman, Joanne Woodward, Robert Wagner, ...",James Goldstone
1,18510,New Tale of Zatôichi,1963-03-15,6.6,17,0,0.0,0.0,[日本語],1963,"[Shintarô Katsu, Mikiko Tsubouchi, Seizaburô K...",Tokuzô Tanaka
2,45512,Pocket Money,1972-01-01,5.3,6,0,0.0,0.0,[English],1972,"[Paul Newman, Lee Marvin, Strother Martin]",Stuart Rosenberg
3,31672,Violent City,1970-09-17,6.9,7,0,0.0,0.0,"[English, Italiano]",1970,"[Charles Bronson, Telly Savalas, Jill Ireland,...",Sergio Sollima
4,119001,The Big Circus,1959-07-05,7.0,1,0,0.0,0.0,[English],1959,"[Victor Mature, Red Buttons, Rhonda Fleming, K...",Joseph M. Newman

In [242]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9832 entries, 0 to 9831
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                9832 non-null   int64
 1   title             9832 non-null   object
 2   release_date      9832 non-null   datetime64[ns]
 3   vote_average      9832 non-null   float64
 4   vote_count        9832 non-null   int64
 5   budget            9832 non-null   int64
 6   revenue           9832 non-null   float64
 7   return            9832 non-null   float64
 8   spoken_languages  9832 non-null   object
 9   release_year      9832 non-null   int32
 10  actors            9832 non-null   object
 11  director          9832 non-null   object
dtypes: datetime64[ns](1), float64(3), int32(1), int64(3), object(4)
memory usage: 883.5+ KB

In [166]:
df_combined.to_parquet('movies_data.parquet', index=False)